<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MediaBazaarWebsite</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />-->
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <header>
        <nav class="navigationBar">
            <ul class="navigationBar_buttons">
                <li>
                    <a asp-page="/HomePage">Home</a>
                </li>
                <li>
                    <a asp-page="/Schedule" asp-route-id="@DateTime.Today.Month">Schedule</a>
                </li>
                <li>
                    <a asp-page="/LeaveRequestPage">Leave request</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer> 
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>-->

    @RenderSection("Scripts", required: false)
</body>
</html>
