@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nunito:wght@200;300;400&family=Roboto&display=swap');
/* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #D5E5F2;
    margin: 0;
    padding: 0;
}*/
.logo {
    height: auto;
    width: 300px;
    padding-bottom: 10px;
}
nav {
    background-color: white;
    margin: 0;
    padding: 0;
    padding: 10px;
    display: flex;
    justify-content: end;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
    nav a {
        padding: 15px;
    }

    nav ul li a {
        text-decoration: none;
        color: #308695;
    }

header{
    padding-bottom: 20px
}
nav a:hover {
    border-radius: 50px;
    color: white;
    background-color: #308695;
}
/*-------------Log In Page-----------------*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #D5E5F2;
    margin: 0;
    padding: 0;
}

.form_container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 50px;
    width: 300px;
    background-color: #308695;
    border-radius: 20px;
    color: white;
    justify-content: center;
}

.field {
    padding: 8px 0px 8px 0px;
    width: 100%;
}

.login_heading {
    text-align: center;
    margin-top: 0px;
}

.content_container p {
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0;
}


.login_buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}


    .login_buttons input {
        padding: 10px;
        border-radius: 5px;
        background-color: white;
        border-width: 0;
        color: #308695;
    }
/*---------------SignedInPage------------------*/
.navigationBar_buttons {
    display: flex;
    align-content: flex-start;
}

    .navigationBar_buttons li {
        padding-right: 20px;
        text-decoration: none;
        list-style:none;
    }


/*---------------Schedule------------------*/
.scheduleBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigationButtons {
    display: flex;
}
.schedule_container {
    background-color: #308695;
    color: white;
    display: grid;
    grid-template-columns: repeat(7, auto);
    margin: 0;
    width: 90%;
    /*justify-content: center;*/
}/*
    .schedule_container ul {
        padding:20px;
    }*/

    .schedule_row {
       /* padding-top:20px;*/
        width: 100%;
        height: 25px;
        text-align: center;
        padding-top: 10px;
        padding-bottom:10px;

    }

.schedule_days_row {
    padding:10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    list-style-type: none;
    margin: 0;
    height: auto;
    
}

.scheduleBoxContent {
    margin:2px;
    padding: 5px;
    min-height: 130px;
 /*   height: auto;
    width: 100%;*/
    display: flex;
    flex-direction: column;
    border-left: 1px solid white;
    border-bottom: 2px solid white;
    background-image: linear-gradient(to bottom, #308695, #d4cfc9);
    width: 180px;
    
}
    .scheduleBoxContent div {
        margin: 5px;
    }
    .scheduleBoxContent li {
        text-align: left;
        color: white;
        width: 20px;

    }

.special_empty_day {
    margin: 2px;
    padding: 5px;
    min-height: 130px;
    border-left: 1px solid white;
    border-bottom: 2px solid white;
    width: 180px;
}

.shift_box {
    background-color: #EBEFF2;
    padding: 10px;
    border-radius: 20px;
    color: #308695;
}
/*-----------------------------HOME PAGE---------------------------*/
.homePage {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: #508791;
}
.heading-homepage {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container-for-newslettercontainer {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container-newsletter {
    height: 70vh;
    width: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px 20px 50px 20px;
    background-color: white;
    /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
}
.newsbox {
    border-radius: 10px;
    border: solid 2px gray;
}
    .newsbox :hover {
        color: white;
        background-color: #74bbc7;
        border-radius: 10px;
    }
    .newsbox p {
        font-size: 15px;
    }
.container-newsletter-newsbox {
    padding: 10px 10px 50px 10px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
    .container-newsletter-newsbox-leftpannel {
        display: flex;
        justify-content: center;
        width: 10%;
    }
    .container-newsletter-newsbox-leftpannel p {
        margin-top: 15px;
        font-weight: 600;
        color: white;
    }
.name-tag {
        height: 50px;
        width: 50px;
        border-radius: 100px;
        background-color: lightgreen;
        text-align: center;
    }

.container-newsletter-newsbox-rightpannel {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
    .container-newsletter-newsbox-rightpannel p, h3 {
        margin: 0;
    }
.newsbox-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*--------------------RequestPage-------------------*/

.requestContainer {
    padding: 10px;
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-template-areas:
        'header header'
        'leave prefered';
    gap: 20px;
    height: 500px;
}
.titleRequest {
    grid-area: header;
    color: #508791;
}
.requestContainer_leaveRequest {
    grid-area: leave;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #308695;
    border-radius: 10px;
    background-color: aliceblue;
    color: #729fa7;
}
.requestContainer_preferenceRequest {
    grid-area: prefered;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #308695;
    border-radius: 10px;
    background-color: aliceblue;
    color: #729fa7;
}
.notificationMessage {
    font-size:15px;
    color:red;
}
.navigationButtons a {
    text-decoration: none;
    margin-top: 15px;
    color: #308695;
}
.navigationButtons{
    display: flex;
    justify-content: space-evenly;
}
.navigationButtons h1{
    margin: 0;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom:20px;
    font-size: 40px;

}
@media screen and (max-width: 640px) {
    .homePage {
        padding-bottom: 20px;
        display: flex;
        text-align: center;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
        color: #508791;
    }
    .requestContainer {
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-columns: 1fr;
        place-items: center;
        grid-template-areas:
            'header'
            'leave'
            'prefered';
        gap: 20px;
    }
}




