@page
@model MediaBazaarWebsite.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";

}

<div class="form_container">
    <form method="post">
        <div class="content_container">
            <h2 class="login_heading">Change Password</h2>
            <p>Password:</p>
            <input class="field" type="password" placeholder="Enter Password" asp-for="user.Password">
            <br>
        </div>
        <div class="login_buttons">
            <input type="submit" value="Save" class="loginbtn">
            <input type="reset" class="cancelbtn" value="Cancel">
        </div>
        <p>@ViewData["errorMessage"]</p>
    </form>
</div>
