@page
@model MediaBazaarWebsite.Pages.HomePageModel
@{
}
@{
    Layout = "_LayoutSignedIn";
}
<div class="homePage">
    <div class="heading-homepage">
        <h1>Welcome to MediaBazaar</h1>
        <p>
            We are the biggest electronics selling company in Wedrlands.
            We are pleased we have you. Our goal is to reach total 500 selling places all around Wedrlands.
        </p>
    </div>
    <div class="container-for-newslettercontainer">
        <div class="container-newsletter">
            <h2>Announcements</h2>
            @foreach (var announcement in Model.announcementManager.GetAnnouncements())
            {
                <div class="newsbox">
                    <div class="container-newsletter-newsbox">
                        <div class="container-newsletter-newsbox-leftpannel">
                            <div class="name-tag">
                                <p>M</p>
                            </div>
                        </div>

                        <div class="container-newsletter-newsbox-rightpannel">

                            <div class="newsbox-heading">
                                <p>Manager</p>
                                <p>@announcement.AnnouncementDate.ToString("dd/MM/yyyy")</p>
                            </div>
                            <h3>Subject: @announcement.AnnouncementSubject</h3>
                            <p>@announcement.AnnouncementContent</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div> 