@page
@model MediaBazaarWebsite.Pages.HomePageModel
@{
}
@{
    Layout = "_LayoutSignedIn";
 }
<div class="homePage">
    <h1>Welcome to MediaBazaar</h1>
    <p>
        We are the biggest electronics selling company in Wedrlands.
        We are pleased we have you. Our goal is to reach total 500 selling places all around Wedrlands.
    </p>
</div> 