@page
@model MediaBazaarWebsite.Pages.HomePageModel
@{
}
@{
    Layout = "_LayoutSignedIn";
}
<div class="homePage">
    <h1>Welcome to MediaBazaar</h1>
    <p>
        We are the biggest electronics selling company in Wedrlands.
        We are pleased we have you. Our goal is to reach total 500 selling places all around Wedrlands.
    </p>
    <div class="container-newsletter">
        <h1>Announcements</h1>
        <div class="newsbox">
            <div class="container-newsletter-newsbox">
                <div class="container-newsletter-newsbox-leftpannel">
                    <div class="name-tag">
                        <p>J</p>
                    </div>
                </div>
                <div class="container-newsletter-newsbox-rightpannel">
                    <div class="newsbox-heading">
                        <p>Jakub Jelinek</p>
                        <p>MM-DD-YYYY</p>
                    </div>
                    <h3>Subject of the announcement</h3>
                    <p>The text of the announcement will be here</p>
                </div>
            </div>
        </div>

    </div>
</div> 