@page
@model MediaBazaarWebsite.Pages.LeaveRequestPageModel
@{
    ViewData["Title"] = "Schedule";
    Layout = "_LayoutSignedIn";
}
<div class="leaveRequestContainer">
    <form method="post">
        <label>
            <p>Select date for leave request</p>
            <input type="date" asp-for="LeaveRequest.RequestedDate">
        </label>

        <input type="submit" value="Confirm request" />
    </form>
    <p>@Model.Message</p>
</div>
