@page
@model MediaBazaarWebsite.Pages.ScheduleModel
@{

    ViewData["Title"] = "Schedule";

}



@{
    bool firstWeekFinish = true;
}

<div class="schedule_container">

    @{
        foreach (var item in Model.daysPerWeekDay)
        {

            <div class="schedule_row">

                <div>@item.Key</div>
                <ul class="schedule_days_row">
                    @{

                        if (item.Value[0].Day != 1 && firstWeekFinish)
                        {
                            <li class="special_empty_day"></li>
                        }
                        else if (item.Value[0].Day == 1)
                        {
                            firstWeekFinish = false;
                        }
                    }

                    @foreach (DateTime day in item.Value)
                    {
                        <li> @day.Day</li>

                        //this is going to be a box with the shif of the employee
                        //should be generated from the business classes
                        <div class="shift_box">Morning</div>
                    }
                </ul>

            </div>
        }

    }


</div>
